doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
    link(rel="stylesheet", href="css/style.css")
    link(rel="stylesheet", href="node_modules/catdown/styles/dist/catdown.css")
    title Z-MD
  body    
  
    include _jade-files/_header.jade
    
    include _jade-files/_sidebar.jade
    
    include _jade-files/_main.jade
    
    script(src="js/catdown.js")
    script(src="js/app.js")
