.main
  .editor-wrapper
    textarea.editor#pad.
      # My markdown 
      | moi  | j'ai |
      | ---  | ---- |
      | faim | héhé |

      
  .render-wrapper#markdown.markdown-body
    p markdown rendered here
